body{
    display: flex;
    max-height: 100vh;
    margin: 0;
}
.left{
    position: relative;
}
.background-image{
    height: 100%;
    width: 800px;
}
.logo{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 250px;
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: center;
}
#logo-text{
    color: white;
}
#logo-photo{
    height: 150px;
}

.right{
    margin-left: 1rem;
}
.rows{
    display: flex;
    justify-content: space-around;
}
.credentials{
    display: flex;
    flex-direction: column;
}

p{
    font-family: "New Rocker", system-ui;
    font-size: 36px;
    color: black;
}